
/* #clock {
    width: 250px;
    height: 250px;
 } */

 @media (max-width: 1024px) {  /* for less than 400px*/
    #clock {
        width:40vw;
        height:25vw;
    }
  }


  @media (max-width: 768px) {
    #clock {
        width:40vw;
        height:17vw;
    }
    
  }
  
@media (max-width: 386px) {
    #clock {
        width:25vw;
        height:14vw;
    }
    
  }




  
